*{
    border: 1px dotted red;
}

.flex_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

#introduce_theme {
    padding: 80px;
    display: block;
    text-align: center;
}

.sub_theme {
    display: block;
    text-align: center;
}


.introduce_container {
    padding: 30px;
    display: flex;
    width: 1000px;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.introduce_container .context p {
    font-size: large;
    padding: 10px;
    line-height: 3;
}



.introduce_container img {
    display: inline;
    width: 500px;
    object-fit: contain;
    padding: 10px;
}

.about_container {
    margin-bottom: 200px;
}
.about_container .context p {
    font-size: large;
    padding: 10px;
}





@media (max-width: 1200px) {
    .introduce_container img {
        width: 300px;
    }

    .introduce_container .context p {
        font-size: large;
        line-height: 2;
    }

    .introduce_container {
        width: 800px;
        gap: 60px;
    }

}

@media (max-width: 768px) {
    .introduce_container img {
        /* 태블릿에 대한 스타일 지정 */
        width: 350px;
    }

    .introduce_container .context p {
        font-size: medium;
        line-height: 1.5;
    }

    .introduce_container {
        width: 400px;
        flex-wrap: wrap;
    }

    .introduce_container .context {
        order: 2;
    }

}

@media (max-width: 480px) {
    #introduce_theme {
        font-size: xx-large;
    }


    .introduce_container img {
        /* 휴대폰에 대한 스타일 지정 */

        width: 300px;
    }

    .introduce_container .context p {
        font-size: medium;
    }

}