#table_top {
    display: inline-block;
    border: 1px dashed black;
    padding: 5%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 20px;
}

#table_test_content {
    display: inline-block;
    border: 1px dashed rgb(216, 216, 216);
    border-collapse: collapse;
    border-radius: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

#table_test_content th, #table_test_content td {
    text-align: center;
    vertical-align: middle;
    width: 8%;
}

#pc_screen {
    margin-left: 10px;
    margin-right: 10px;
}

#table_test_content th, #table_test_content td,
#table_test_data th, #table_test_data td {
    padding: 15px 10px;
}

#table_test_data {
    display: inline-block;
    border: 1px dashed rgb(216, 216, 216);
    border-radius: 20px;
    margin-bottom: 30px;
    margin-left: 5%;
}

#table_test_data th, #table_test_data td {
    width: 95%;
}

.border_bottom {
    border-bottom: 1px solid rgb(216, 216, 216);
}

.border_right {
    border-right: 1px solid rgb(216, 216, 216);
}

.indent * {
    text-indent: -20px;
    padding-left: 10px;
}

.text_indent {
    margin-left: 10px;
}

.table_title {
    background-color: aliceblue;
}

#div_content {
    text-indent: 1em;
    width: 650px;
    border: 1px solid rgb(180, 179, 179);
    margin-top: 13px;
    background-color: rgb(245, 245, 245);
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 5%;
}

#table_certificate_info {
    display: inline-block;
    border: 1px dashed rgb(216, 216, 216);
    border-radius: 20px;
    margin-left: 5%;
}

#table_certificate_info td {
    padding: 8px 10px;
    width: 900px;
}

#cocktail_certificate_ul {
    list-style: none;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    padding: 10px 0px 10px 0px;
    text-align: center;
}

#cocktail_certificate_ul li a {
    text-decoration: none;
    color: black;
}

#cocktail_certificate_ul li a:hover {
    text-decoration: underline;
}

#cocktail_certificate_ul li a:active {
    text-decoration: underline;
    font-weight: bold;
}

#cocktail_certificate_ul li {
    display: inline;
    padding: 0px 5px;
    letter-spacing: 10px;
}

#test_content {
    margin-left: 10px;
    margin-right: 10px;
}


/* 태블릿에 대한 스타일 */
@media (min-width: 768px) {
    #pc_screen { display: block; }

    #table_top,
    #table_test_content,
    #div_content,
    #table_test_dat,
    #table_certificate_info {
        font-size: 16px;
    }

    #mobile_screen { display: none; }
}

/* 휴대폰에 대한 스타일 */
@media (max-width: 480px) {
    #pc_screen { display: none; }
    #mobile_screen { display: block; }

    #test3 { text-decoration: underline; }
}