*{margin: 0px; padding: 0px;}


#map{
  
    width: 800px;
    height:500px;
    position:relative;
    overflow: hidden;
}


.map_wrap,
.map_wrap * {
    margin: 0;
    padding: 0;
    font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
    font-size: 12px;
}

.map_wrap a,
.map_wrap a:hover,
.map_wrap a:active {
    color: #000;
    text-decoration: none;
}

.map_wrap {
    position: relative;
    width: 100%;
    height: 500px;
    margin-bottom: 100px;
}

#menu_wrap {
    position: absolute;
    top: 0;
    left: 50px;
    bottom: 0;
    width: 250px;
    margin: 10px 0 30px 10px;
    padding: 5px;
    overflow-y: auto;
    background: #FFF5E4;
    z-index: 1;
    font-size: 12px;
    border-radius: 10px;
}

.bg_white {
    background: #ECCDB4;
}

#menu_wrap hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px dotted #FF9494;
    margin: 3px 0;
}

#menu_wrap .option {
    text-align: center;
}

#menu_wrap .option p {
    margin: 10px 0;
}

#menu_wrap .option button {
    margin-left: 5px;
}

#placesList li {
    list-style: none;
}

#placesList .item {
    position: relative;
    border-bottom: 1px solid #FF9494;
    overflow: hidden;
    cursor: pointer;
    min-height: 65px;
}

#placesList .item span {
    display: block;
    margin-top: 4px;
}

#placesList .item h5,
#placesList .item .info {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#placesList .item .info {
    padding: 10px 0 10px 55px;
}

#placesList .info .gray {
    color: #8a8a8a;
}

#placesList .info .jibun {
    padding-left: 26px;
    background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;
}

#placesList .info .tel {
    color: #320233;
}

#placesList .item .markerbg {
    float: left;
    position: absolute;
    width: 36px;
    height: 37px;
    margin: 10px 10px 10px 10px;
    background: url(https://firebasestorage.googleapis.com/v0/b/groupwaremy-803bb.appspot.com/o/marker.png?alt=media&token=1db45d1c-a200-43fb-97e7-8672c0301446) no-repeat;
  
}

#placesList .item .marker_1 {
    background-position: 0 -10px;
}

#placesList .item .marker_2 {
    background-position: 0 -56px;
}

#placesList .item .marker_3 {
    background-position: 0 -102px
}

#placesList .item .marker_4 {
    background-position: 0 -148px;
}

#placesList .item .marker_5 {
    background-position: 0 -194px;
}

#placesList .item .marker_6 {
    background-position: 0 -240px;
}

#placesList .item .marker_7 {
    background-position: 0 -286px;
}

#placesList .item .marker_8 {
    background-position: 0 -332px;
}

#placesList .item .marker_9 {
    background-position: 0 -378px;
}

#placesList .item .marker_10 {
    background-position: 0 -423px;
}

#placesList .item .marker_11 {
    background-position: 0 -470px;
}

#placesList .item .marker_12 {
    background-position: 0 -516px;
}

#placesList .item .marker_13 {
    background-position: 0 -562px;
}

#placesList .item .marker_14 {
    background-position: 0 -608px;
}

#placesList .item .marker_15 {
    background-position: 0 -654px;
}

#pagination {
    margin: 10px auto;
    text-align: center;
}

#pagination a {
    display: inline-block;
    margin-right: 10px;
}

#pagination .on {
    font-weight: bold;
    cursor: default;
    color: #FF9494;
}



  /* 휴대폰에 대한 스타일 */
  @media (max-width: 480px) {
    /* 휴대폰에 대한 스타일 지정 */

    #menu_wrap {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 200px;
        height: 200px;
        margin: 10px 0 30px 10px;
        padding: 5px;
        overflow-y: auto;
        background: #FFF5E4;
        opacity: 0.9;
        z-index: 1;
        font-size: 10px;
        border-radius: 10px;
    }

    #map{
  
        width: 300px;
        height:300px;
        position:static;
        overflow: hidden;
    }


    

  }