* {
    padding : 0;
    margin : 0;
    border: 1px dotted red;
}

header {
   background-color: yellow;
}
.container {
    display : flex;
}

nav {
    position: fixed;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    right:auto;
}

main {
    background-color: tomato;
    width: 80%;

}
main object{
    background-color: bisque;
}